.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.tarjeta-acc
  background-color: #bddcf6
.acordion__activo
  background-color: #fff7e0 !important
.slyder-100
  .horizontal-scroll
    align-items: normal !important
.bloque-derecha
  .bloque-texto-g__img
    left: auto
    right: 0
  .bloque-texto-g
    justify-content: start !important
  // .bloque-texto-g__texto
  //   width: 100%
.box-shadow
  box-shadow: 16px 0px 23px -8px rgba(0,0,0,0.15)